// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


$brand-primary:	 			#714872; // Custom purple (default was $blue)
// $brand-secondary: (default lightgray)
$brand-info: 				#000;    // Black
$brand-success:				#d0ebcc; // Green
$brand-warning: 			#f87100; // Orange
$brand-danger:				#332735; // Dark Purple


// Links (ln 190)
$link-hover-color: 			#ffa500;


// Components (ln 314)
$border-radius:			.5rem; // was .25rem (regular)


// Fonts (243)
$font-size-base: .80rem; // was 1rem
$font-size-lg:   1rem; // was 1.25rem;
$font-size-sm:   .7rem; // was .875rem;
$font-size-xs:   .6rem; // was .75rem;

$font-size-h1:   1.375rem; // was 2.5rem;
$font-size-h2:   1.045rem; // was 2rem;
$font-size-h3:   1.4rem; // was 1.75rem;
$font-size-h4:   1.2rem; // was 1.5rem;
$font-size-h5:   1rem; // was 1.5rem;
$font-size-h6: 	 .85rem; // was 1rem;

$headings-line-height: 	1.6; // was 1.1;


// Buttons (358)
$btn-line-height: 1.1rem;


// Nav (602)
$navbar-toggler-padding-x: 1.5rem;


// Jumbotron (680)
$jumbotron-bg:  	 #999;
$jumbotron-padding:  1rem;


// Cards (708)
$card-border-radius: 0;
$card-border-color:  #fff;

